*{
	font-family: 'IBM Plex Sans', sans-serif;
}

body{
	background-color: rgb(20, 20, 20);
}

h1{
	border-bottom: 20px solid rgba(255, 255, 0, 0.5);
	color: white;
	width: fit-content;
	margin: 0 auto 30px;
	line-height: 30px;
	padding: 30px 10px 0;
	font-size: 60px;
	font-style: italic;
}

#inputGroup{
	display: flex;
	flex-direction: column;
}

input{
	margin: auto;
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 0, 0.5);
	padding: 10px;
	margin-bottom: 10px;
	width: 200px;
	color: white;
}
::placeholder{
	color: lightgray
}

button{
	width: fit-content;
	margin: auto;
}

#mainCard{
	margin: auto;
}

textarea{
	background-color: rgb(50, 50, 50);
	color: white;
	resize: none;
	border: none;
	outline: none;
	margin-top: 30px;
	margin-left: 10%;
	width: 80%;
	height: 400px;
}

#downloadButton a{
	color: white;
	border-bottom: 2px solid white;
	font-size: 20px;
	text-decoration: none;
	padding-top: 20px;
	width: 100%;
}

#downloadButton{
	text-align: center;
}